@model QuanLyNhanSu.Web.Models.UserAdminModel
@using QuanLyNhanSu.Web.Models;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đổi mật khẩu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <input type="hidden" value="@Model.Id"/>
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <label class="label label-danger">
                        @ViewBag.ErrorMessage
                    </label>
                }
            </div>
                
            </div>
        <div class="form-group">
            @Html.MyLabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Password" name="Password" type="password" placeholder="Mật khẩu cũ">
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Password">New password</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="NewPassword" name="NewPassword" type="password" placeholder="Mật khẩu mới">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Password"> Confirm new password</label>
           
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="NewPasswordAgain" name="NewPasswordAgain" type="password" placeholder="Mật khẩu mới lần 2">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@QuanLyNhanSu.Commons.ControlText.Changepass" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
