@model IEnumerable<QuanLyNhanSu.Web.Models.BranchModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using QuanLyNhanSu.Commons;
@using QuanLyNhanSu.Web.Models;
<div class="panel-heading header-title">
    @ViewBag.Title
    <div class="pull-right">
        @using (Html.BeginForm())
        {
            <div class="input-group search-box">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Branch")'">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
                <input type="text" class="form-control" name="@QuanLyNhanSu.Commons.ControlText.KeyWordID" id="@QuanLyNhanSu.Commons.ControlText.KeyWordID" placeholder="@QuanLyNhanSu.Commons.ControlText.PlaceHolderSearch">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="btn btn-default" type="button" title="Xuất Excel" onclick="ExportFile('mytable', 'DanhSachNhomNguoiDung');">
                        <span class="glyphicon glyphicon-export"></span>
                    </button>
                </span>
            </div>
        }
    </div>
</div>
<div class="table-responsive" id="mytable">
    <table class="table  table-hover">
        <tr>
            <th>
                @Html.MyDisplayNameFor(model => model.BRANCHCODE)
            </th>
            <th>
                @Html.MyDisplayNameFor(model => model.BRANCHNAME)
            </th>
            <th>
                @Html.MyDisplayNameFor(model => model.BRANCHLOGO)
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BRANCHCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BRANCHNAME)
                </td>

                <td>
                    <img class="col-md-10 branchLogo" src="@item.BRANCHLOGO" />
                </td>
                <td>
                    @Html.ActionLink(ControlText.Empty, "Edit", new { id = item.BRANCHCODE },new { @class = "glyphicon glyphicon-edit red" }) |
                    @Html.ActionLink(ControlText.Empty, "Delete", new { id = item.BRANCHCODE }, new { @class = "glyphicon glyphicon-remove red", onclick = "return AskBeforeDelete(this);" } )
                </td>
            </tr>
        }

    </table>
    </div>